@using MsftGivingTriviaWebApp.Models
@model HomePageCustomizeModel
@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .bgtheme {
        background: #675B7F;
    }
</style>

<div class="jumbotron bgtheme">
    <img src="/content/trivialogo.png" class="banner" />
    <p class="lead center">
        Welcome to the Give Campaign online trivia challenge!
    </p>
    <p class="lead center">
        Our aim is to raise money to make the world a better place while enjoying a game of trivia with coworkers and friends.
        What's more fun than that?
        <br />
        <span>@Model.Blurb</span>
    </p>

    <p class="lead center" style="font-weight:bold">Please donate $5 or more to participate in the game.</p>

    <table align="center">
        <tr>
            <td><a href="@Model.IconLink1"><img src="@Model.IconUrl1" class="banner" title="Bold Idea" /></a></td>
            <td><a href="@Model.IconLink2"><img src="@Model.IconUrl2" class="banner" title="Legacy Premier Foundation" /></a></td>
            <td><a href="https://aka.ms/give"><img src="/content/icon3.png" class="banner" title="Give" /></a></td>
        </tr>
    </table>
</div>

<div class="row">
    <div>
        <center>
            <h2><b>How To Play</b></h2>
            <p>All you need to do is donate and join a game!</p>
            <p>
                Ready set ...
            </p>
        </center>
        <table align="center">
            <tr>
                <td>
                    <p>
                        <a class="btn btn-primary btn-lg bgtheme" href="@Model.DonateLink">Donate Here</a>
                        <a class="btn btn-primary btn-lg bgtheme" href="/play/index">Join a Game</a>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>