@using MsftGivingTriviaWebApp.Models
@model AdminModel
@{
    ViewBag.Title = "Admin Page";
}

<script>

    $(window).load(function () {
        InitGame();
        // tell game.js we want to allow editing the questions.
        categories.addListener("changed", function () {
            showCategories();
        });
        InitAdmin();
    });

    function showCategories() {
        //alert(categories.list)
    }
</script>

@if (ViewBag.IsAdmin)
{
    <script>
        function InitAdmin() {
            $("#resetUsersForm").submit(function () {
                var q = $("#resetUsersForm");
                q.validate();
                if (q.valid() && users != null) {
                    users.reset();
                    ShowError("All user scores have been reset");
                }
                return false;
            });
        };
    </script>
}
else
{
    <script>
        function InitAdmin() {
            $("#resetUsersForm").submit(function () {
                ShowError("You do not have permission to reset users")                
                return false;
            });
        }
    </script>
}
<div+>

    <div style="margin:10pt;" id="questionpanel">
        <div class="lead">
            Choose an admin task from the list below:
        </div>

        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("UploadQuestions", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new
                    {
                        enctype = "multipart/form-data",
                        @class = "form-horizontal",
                        role = "form",
                        id = "uploadForm"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Upload questions</h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="file" name="FileUpload1" /><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Upload" class="btn btn-default" style="float:left" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
        <hr />


        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("MakeAdmin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form", id = "makeAdminForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Make Admin</h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="ADMIN" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("HomePageCustomize", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form", id = "customizeForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Customize Home Page</h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="CUSTOMIZE" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("DeleteQuestions", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
new { @class = "form-horizontal", role = "form", id = "deleteQuestionsForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Delete All Questions</h4>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="DELETE ALL QUESTIONS" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>


        <hr />

        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("ResetUsers", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
new { @class = "form-horizontal", role = "form", id = "resetUsersForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Reset All Users Scores &amp; Wins</h4>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="RESET" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>

        @if (ViewBag.UserName == "clovett@microsoft.com")
        {
            <hr />

            <div class="row">
                <div class="col-md-8">
                    <section id="loginForm">
                        @using (Html.BeginForm("SetKey", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                    new { @class = "form-horizontal", role = "form", id = "setKeyForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Set API Key</h4>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="KEY" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        }

        <div style="clear:both"></div>
    </div>

    <div id="errormessage" class="errormessage">
        @ViewBag.Message
    </div>

</div+>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}